.banner {
    background: var(--cor-azul-gradiente);
    color: #FFFFFF;
    text-align: center;
    padding: 2.5rem 2rem;
}
.banner__titulo {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
.banner__texto {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 1rem 0rem;
}
.banner__pesquisa {
    font-family: var(--fonte-principal);
    border: 1px solid var(--branco);
    background-color: transparent;
    border-radius: 24px;
    padding: 1em 0em ;
    box-sizing: border-box;
    width: 100%;
}
.banner__pesquisa::placeholder {
    font-weight: 400;
    font-family: var(--fonte-principal);
    font-size: 14px;
    color: var(--branco);
    text-align: center;
    background-image: url("../img/lupa.svg");
    background-repeat: no-repeat;
    background-position: 1em; 
}