.cabecalho__menu-hamburguer {
   width: 34px;
   height: 24px;
   background-image: url("../img/Menu.svg");
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
}

.cabecalho {
   background-color: var(--branco);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}
.container {
   display: flex;
   align-items: center;
}
.container__botao {
   display: none;
}
.container__imagem {
   padding: 1rem;
}
.lista__menu {
   display: none;
   position: absolute;
   top: 100%;
   width: 60vw;

}
.container__botao:checked ~ .lista__menu {
   display: block;
}
.lista__menu-titulo,
.lista__menu-item {
   padding: 1rem;
   background-color: var(--branco);
   color: var(--cor-titulo-laranja);
   font-size: 1rem;
   font-family: var(--fonte-principal);
}
.lista__menu-titulo {
   font-weight: 700;
   font-size: 1rem;  
}
.lista__menu-link {
   background-color:var(--branco);
   color: var(--cor-azul);
   text-decoration: none;
   text-transform: uppercase;
   font-weight:400;

}

