@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url("cards.css");
@import url("topicos.css");
@import url("cadastro.css");
@import url("rodape.css");

:root {
 --cor-de-fundo: #EBECEE;
 --preto:#000000;
 --branco:#FFFFFF;
 --cinza-secundario:#E5E5E5;
 --cor-azul:#002F52;
 --cor-azul-gradiente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
 --cor-titulo-laranja:#EB9B00;
 --fonte-principal:'Poppins';
}
body {
 background-color: var(--cor-de-fundo);
 font-family: var(--fonte-principal);
 font-size: 1rem;
}
