.topicos {
   background-color: var(--branco);
   padding: 16px 0 0 0;
}
.topicos__div {
   background: var(--cor-azul-gradiente);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 24px 0px;
   gap: 32px;
}
.topicos__titulo {
   font-weight: 300;
   color: var(--branco);
   text-transform: uppercase;
}
.topicos__lista {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-wrap:wrap;
   gap: 16px;
   padding: 2%;
}

.topicos__link {
   text-decoration: none;
   font-weight: 700;
   font-size: 14px;
   color: var(--branco);
   padding: 16px 24px;
   background-color: var(--cor-titulo-laranja);
   border-radius: 3px;
}
