.recentes {
   background-color: var(--branco);
   padding: 16px 0 0 0;
}
.div__recentes {
   background: var(--cor-azul-gradiente);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 24px 0px;
   gap: 32px;
}
.titulo__recentes {
 font-weight: 300;
 color: var(--branco);
 text-transform: uppercase;


}
.div__botoes {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-wrap:wrap;
   gap: 16px;

}

.botoes__recentes {
   text-decoration: none;
   font-weight: 700;
   font-size: 14px;
   padding: 16px 24px;
   color: var(--branco);
   background-color: var(--cor-titulo-laranja);
   border-radius: 3px;
}
